body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: antiquewhite;
    color: #333;
    font-family: 'Outfit', 'Young Serif';
    box-sizing: border-box;
    overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: inherit;
}


.container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-content: center;
    width: 700px;
    padding: 2rem 2rem 0 2rem;
    margin: 0 auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    border-radius: 18px;
}

.mainPhoto {
    max-width: 700px;
    height: auto;
    border-radius: 12px;
}

.recipe h1{
    font-family: 'Young Serif';
    font-weight:normal;
    font-size: 2.5rem;
}

.recipe p{
    font-family: 'Outfit';
    font-weight: lighter;
}

.prepTime {
    background-color: #f8f8f8;
    margin-top: 15px;
    padding: 1rem;
    border-radius: 12px;
}

.prepTime p {
    font-family: 'Outfit';
    font-weight: bold;
    font-size: 1.2rem;
}

ul li,
ol li {
    padding-left: 20px;
    margin-bottom: 15px;
}

.label {
    font-weight: bold;
    margin-right: 5px;
}

.sections {
    color: rgb(1, 102, 1);
    font-family: 'Young Serif';
    font-size: 1.5rem;
}

.ingredients ul,
.instructions ol {
    padding-bottom: 10px;
}

hr {
    height: 1px;
    background-color: rgb(213, 214, 225);
    border: none;
}

ol li::marker {
    color: rgb(1, 102, 1);
    font-weight: bold;
}

.calContainer ul {
    padding: 1rem;
}

.calContainer ul li {
    display: flex;
    list-style: none;
}

.calContainer ul li .label {
    width: 20rem;
    font-weight: lighter;
}

.calContainer ul li .numbers {
    color: rgb(1, 102, 1);
    font-weight: bold;
}

.calContainer hr {
    margin-top: -30px;
    margin-bottom: -20px;
}

@media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
    .content {
        padding: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    .recipe h1 {
        font-size: 2.5rem;
    }
}